.task-list {
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: white;
  padding: 10px;
}

.cdk-drag-placeholder {
  opacity: 0.3;
  background: #ccc;
  border: 2px dashed #666;
  border-radius: 8px;
  min-height: 100px;
  margin-bottom: 1rem;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-list.cdk-drop-list-dragging .task-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}